body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html{
    font-size: 62.5%;
}

header{
    height: 12rem;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


header .titulo-container
{
   position: relative;
   top: 2.5rem;
    font-size: 1.5rem;
    text-align: center;

}
header .titulo-container h1
{
    color:#111111;
    margin: 0;

}
header .titulo-container h1::before
{
   content: "W";
   font-size: 4.5rem;
}

header .titulo-container h1::after
{
    
   content: "A";
   font-size: 4.5rem;

}

header .titulo-container  strong
{
    color:#333333;
    margin: 0;
}


header .imagen-container
{
    position: absolute;
    top: 19rem;
    width: 17rem;
}


header .imagen-container img
{
   width: 100%;
}


/* main........ */
main{
    height: 50rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.seccion-links{
    margin-top: 2rem;
    height: 27rem;
    width: 40rem;
    position: absolute;
}

.seccion__item{
    font-size: 1.4rem;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15rem;
    text-align: center;
}



.seccion-links .a{
    top: 0rem;
    left: 1.5rem;
}


.seccion-links .b{
    top: 5rem;
    left: -2rem;
}


.seccion-links .c{
    top: 11rem;
    left: -3rem;
} 


.seccion-links .d{
    top: 17rem;
    left: -2.5rem;
} 


.seccion-links .e{
    top: 22rem;
    left: 0rem;
} 



.seccion-links .f{
    top: 0rem;
    right: 1.3rem;
}

.seccion-links .g{
    top: 5rem;
    right:-1rem;
}



.seccion-links .h{
    top: 11rem;
    right:-1.5rem;
}


.seccion-links .i{
    top: 17rem;
    left:25rem;
}




.seccion-links .j{
    top: 22rem;
    right: 3rem;
}


.seccion__item a{
    text-decoration: none;
}

.seccion__item small{
    font-size: 1rem;
    color: #555;
} 

/* seccion forumulario */

.formulario{
    
    position: absolute;
    margin-top: 4rem;
    height: 6rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40rem;

}

.formulario-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-Container label{
    display: flex;
    height: 3.5rem;
    width: 40rem;
    align-items: center;
    border: 0.1rem solid #a2a9b1;
    cursor: pointer;

}


.formulario-Container label:hover{
    border: 0.2rem solid #3366cc;
    cursor:text;

}

.formulario-Container label .buscar{
    width:100%;
    margin-left: 0.5rem;
    border: none;
    outline:none;
}



.boton-select{
    width: 4rem;
    border: none;
    font-size: 1.2rem;
    color: #a2a9b1;
    outline:none;

}

.boton-select:hover{

 background: rgba(230, 230, 230, 0.3)

}





.boton-buscar{

    border: none;
    height: 100%;
    width: 6rem;
    background-color: #3366cc;
    color: white;
    border-radius: 0.1rem;
    border: 0.1rem solid #3366cc;
    outline: none;
}


.boton-buscar:hover{

   opacity: 0.8;
}


 .boton-buscar i:active{
   border: 0.1rem solid white;
}



.boton-buscar i{
    font-size: 1.7rem;
    color: #fff;
    width: 100%;
    text-align: center;
}



.boton--deslice{

    position: absolute;
    top:51rem;
  
}

.boton--deslice button{
    display: flex;
    height: 3.5rem;
    width: 30rem;
    justify-content:space-around;
    align-items: center;
    font-size: 1.4rem;
    color: #3366cc;
    background-color: #f8f9fa;
    border: 0.1rem solid #a2a9b1;
    outline: none;
}


.boton--deslice button:hover{
    background-color: #eee;
}

.boton--deslice button:active{
    border: 0.2rem solid #3366cc;
}




.boton--deslice button i{
 font-size: 1.5rem;
}


footer{
    background-color: #000000;
    font-size: 2rem;
    color:white;
}


